.bg {
  width: 100%;
  height: 300px;
  background: url("/images/light.jpg") no-repeat center center;
}

.bg2 {
  width: 100%;
  height: 300px;
  background: url("../assets/images/light.jpg") no-repeat center center;
}
